* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background: url(Purple/Illustrated/Mountain/Desktop/Wallpaper.png);
    background-size: cover;
    display: grid;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: transparent;
    padding: 20px 10%;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.menu {
    display: flex;
}
.menu li {
    padding-left: 30px;
}
.menu li a {
    display: inline-block;
    font-size: 23px;
    text-decoration: none;
    color: rgb(237, 238, 234);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: none;
}
.menu li a:hover {
    color:  #0ef;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color:#fff;
    transition: 0.50s ease-in-out;
}
.menu li a:hover:after {
    background-color: rgb(16, 252, 8);
    width: 100%;
}
.open-menu {
    position: absolute;
    color: #0ef;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.close-menu {    
    position: absolute;
    color: #0ef;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
    
}
.close-menu {
    top: 20px;
    right: 100px;
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}
#check {
    display: none;
}
@media(max-width: 830px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 40vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 30;
        background: rgba(226, 204, 204, 0.1);
        backdrop-filter: blur(40px);
        border: 2px solid rgba(88, 75, 75, 0.2);
        border-radius: 40px;
        padding: 20px 10%;
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 10px;
    }
    .menu li a {
        padding: 1px;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-duration: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
        0 0 25px #0ef
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 20%;
    padding-top: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 9cm;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.experience {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: #0ef;
}

.container {
    padding: 90px;
}

.content_vlp3_35 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 14px;
}

.skills_vlpv3_49 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill_vlpv3_49 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer_vlpv3_77 {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer_vlpv3_77 img {
    width: 90px;
}

.skill_vlpv3_49 p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history_vlpv4_111 {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem_vlpv4_121 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background: transparent;
    background: linear-gradient(90deg, #1e2e4d, #111c3100);
    border-radius: 40px;
    padding: 24px;
}

.historyItem_vlpv4_121 img {
    width: 90px;
}

.historyDetails_vlpv4_161 {
    font-family: var(--font-roboto);
}

.historyDetails_vlpv4_161 h3 {
    font-size: 30px;
    font-weight: 500;
}

.historyDetails_vlpv4_161 p {
    font-size: 25px;
    font-weight: 400;
}

.historyDetails_vlpv4_161v ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 17px;
}

@media screen and (max-width: 830px) {
    .content_vlp3_35 {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .skills_vlpv3_49 {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history_vlpv4_111 {
        width: 100%;
        gap: 20px;
    }   
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.design .circle {
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    animation-name: shine;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 30%;
    z-index: 2;
    animation-timing-function: ease-in-out
}

.circle:nth-child(1) {
    background: linear-gradient(30deg, red, blue, #ae00ff, yellow);
    width: 30rem;
}

.circle:nth-child(2) {
    width: 25rem;
    background-image: url(Images/Profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    border: .1rem solid white;
    box-shadow: 
    0 0 1rem #fff,
    inset 0 0 1rem #fff,
    0 0 2rem #3877ff,
    inset 0 0 2rem #3877ff,
    0 0 4rem #3877ff,
    inset 0 0 4rem #3877ff;
}

@keyframes shine {
    0%,100%{
        box-shadow: 0px 0px 32px -12px hwb(85 0% 4%) ;
    }
    50%{
        box-shadow: 0px 0px 32px 15px hwb(85 0% 4%);
    }
}

@media screen and (max-width: 830px) {
    .home {
        flex-direction: column-reverse;
    }
    .home-content {
        align-items: center;
    }
    .design .circle {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.navbar a::after, .navbar .active::after {
    content: "";
    position: absolute;
    background: #0ef;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}

.navbar a:hover::after, .navbar .active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 15px 30px;
    margin-left: 120px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar{
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child{
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #222121;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
} 
.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 80%;
}
.progress-line.css span {
    width: 70%;
}
.progress-line.java span {
    width: 70%;
}
.progress-line.javascript span {
    width: 50%;
}
.progress-line.python span {
    width: 55%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after {
    content: "80%";
}
.progress-line.css span::after {
    content: "70%";
}
.progress-line.java span::after {
    content: "70%";
}
.progress-line.javascript span::after {
    content: "50%";
}
.progress-line.python span::after {
    content: "55%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

.bar {
    font-size: 23px;
}

.Professional-bars .bar{
    margin-top: 40px 0;
}

.Professional-bars .bar:first-child{
    margin-top: 0;
}

.Professional-bars .bar:last-child {
    margin-bottom: 0;
}

.Professional-bars .bar img {
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.Professional-bars .bar .info {
    margin-bottom: 5px;
}

.Professional-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Professional-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #222121;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
} 
.Professional-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.software_testing span {
    width: 100%;
}
.progress-line.automation_testing span {
    width: 90%;
}
.progress-line.problem_solving span {
    width: 90%;
}
.progress-line.creativity span {
    width: 80%;
}
.progress-line.teamwork span {
    width: 85%;
}
.progress-line.frontend_developing span {
    width: 65%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.software_testing span::after {
    content: "100%";
}
.progress-line.automation_testing span::after {
    content: "90%";
}
.progress-line.problem_solving span::after {
    content: "90%";
}
.progress-line.creativity span::after {
    content: "80%";
}
.progress-line.teamwork span::after {
    content: "85%";
}
.progress-line.frontend_developing span::after {
    content: "65%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4 {
    margin: 15px 0;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
}
.contact-text p {
    color: #0ef;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.link_1s9qv_53 {
    margin-bottom: 3rem;
}

.link_1s9qv_53 li {
    margin-bottom: 10px;
    display: block;
}

.link_1s9qv_53 li {
    margin-bottom: 10px;
    display: block;
}

.link_1s9qv_53 li {
    margin-bottom: 10px;
    display: block;
}

.link_1s9qv_53 i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.link_1s9qv_53 li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form {
    position: relative;
}

.contact-form form input,form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #2d2d2f;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #435b6c;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
 .top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
 }